

h1 {
  color: #1100ff;
  text-decoration: underline;
}

h2 {
    color: green;
    text-decoration: underline;
}

.first-paragraph {
    font-family: cursive;
}

.second-paragraph {
    font-family: cursive;
}

h3 {
    color: brown;
    text-decoration: underline;
}

.third-paragraph {
    font-family: cursive;
}